@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-secondary" @onclick="()=> NewProject()">New</button>
            <button class="btn btn-primary" @onclick="()=> SaveProject()">Save</button>
        </div>

        <article class="content px-4">
            <CascadingValue Value="Project">
                @Body
            </CascadingValue>            
        </article>
    </main>
</div>
